@font-face {
    font-family: "Inter Tight";
    src:
        local("Inter Tight"),
        url("../fonts/InterTight-Medium.woff") format("woff"),
        url("../fonts/InterTight-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight";
    src:
        local("Inter Tight"),
        url("../fonts/InterTight-SemiBold.woff") format("woff"),
        url("../fonts/InterTight-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight";
    src:
        local("Inter Tight"),
        url("../fonts/InterTight-Bold.woff") format("woff"),
        url("../fonts/InterTight-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
