.header {
    background: green;
    padding-top: 32px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-image {
    width: 194px;
    height: 18px;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu {
    display: flex;
    gap: 8px;
}

.header__menu-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

.header__button {
    border-radius: 30px;
    padding: 16px 32px;
    background: var(--background-2);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-text);
    transition: background .3s ease;
}

@media (hover: hover) {
    .header__button:hover {
        background: var(--background-3);
    }
}
