.header {
    background: green;
    padding-top: 32px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-image {
    width: 194px;
    height: 18px;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu {
    display: flex;
    gap: 8px;
}

.header__menu-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

.header__button {
    border-radius: 30px;
    padding: 16px 32px;
    background: var(--background-2);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-text);
    transition: background .3s ease;
}

.header__burger-menu {
    display: none;
    align-items: center;
    padding: 0 4px;
    width: 40px;
    height: 40px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.header__burger-menu--line {
    width: 18px;
    height: 2px;
    background: var(--main-text);
    border-radius: 10px;
    position: relative;
}

.header__burger-menu--line::after,
.header__burger-menu--line::before {
    position: absolute;
    content: "";
    width: 31px;
    height: 2px;
    background: var(--main-text);
    border-radius: 10px;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.header__burger-menu--line::after {
    top: 10px;
}

.header__burger-menu--line::before {
    bottom: 10px;
}

.header__burger-menu.active .header__burger-menu--line {
    background: transparent;
}

.header__burger-menu.active .header__burger-menu--line::before {
    transform: rotate(45deg) translate(11px, 3px);
    width: 20px;
}

.header__burger-menu.active .header__burger-menu--line::after {
    transform: rotate(-45deg) translate(11px, -3px);
    width: 20px;
}

.header__nav.active {
    display: flex;
    background: var(--background-2);
    position: absolute;
    right: 0;
    width: 351px;
    top: 0;
    bottom: 0;
}

.header__nav.active .header__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header__nav.active .header__menu-link {
    display: block;
}

.header__nav.active .header__button {
    display: block;
}

@media (hover: hover) {
    .header__button:hover {
        background: var(--background-3);
    }
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger-menu {
        display: flex;
    }
}

@media (max-width: 480px) {
    .header {
        padding-top: 20px;
    }

    .header__logo-image {
        width: 146px;
        height: 12px;
    }

    .header__burger-menu {
        width: 32px;
        height: 32px;
    }

    .header__burger-menu--line {
        width: 12px;
    }

    .header__burger-menu--line::after {
        width: 21px;
        top: 8px;
    }

    .header__burger-menu--line::before {
        width: 21px;
        bottom: 8px;
    }
}
